### Jawaban Tipe Data - Sofyan Adam

In [5]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [6]:
employee_domain = [(employee['name'], company_detail_list[employee_detail_list[employee['name']]['company']]['domain']) for employee in employee_name_list]
print(employee_domain)

[('John Doe', 'Retail'), ('Tom Smith', 'Construction'), ('Andrew Sebastian', 'Construction')]

In [10]:
def sort_company():
    # Extract company details from company_detail_list
    company_details = list(company_detail_list.values())

    # Sort company details by domain in reverse order
    sorted_company_details = sorted(company_details, key=lambda x: x['domain'], reverse=True)

    # Extract required fields (name and domain) from sorted company details
    result = [{'name': company['name'], 'domain': company['domain']} for company in sorted_company_details]

    return result

print(sort_company())

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [9]:
# Extract company details and sort by domain in reverse order
company_details = [{'name': company_detail['name'], 'domain': company_detail['domain']} for company_name, company_detail in company_detail_list.items()]
sorted_companies = sorted(company_details, key=lambda x: x['domain'], reverse=True)

# Print the sorted companies
for company in sorted_companies:
    print(company)

{'name': 'Company 1', 'domain': 'Retail'}
{'name': 'Company 3', 'domain': 'Healthcare'}
{'name': 'Company 2', 'domain': 'Construction'}

In [11]:
def get_company_domain():
    for company_name, company_detail in company_detail_list.items():
        domain = company_detail['domain']
        num_clients = len(company_detail['clients'])
        print(f"{company_name}: {domain}, relation: {num_clients} clients")

get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [12]:
def get_employees():
    employees = []

    for employee_name, employee_detail in employee_detail_list.items():
        full_name = employee_detail['full_name']
        company = employee_detail['company']

        company_domain = company_detail_list[company]['domain']

        employee_info = {
            'full_name': full_name,
            'company': company,
            'domain': company_domain
        }

        employees.append(employee_info)

    return employees

print(get_employees())

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [13]:
def get_employees_by_company():
    companies_with_employees = []

    for company, company_detail in company_detail_list.items():
        employees = [employee['full_name'] for employee in employee_detail_list.values() if employee['company'] == company]

        company_info = {
            'company': company,
            'employees': employees
        }

        companies_with_employees.append(company_info)

    return companies_with_employees

print(get_employees_by_company())

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

### Jawaban pre-processing data - Sofyan Adam

In [23]:
import pandas as pd

In [25]:
data_startup = pd.read_csv('50_Startups.csv')

In [33]:
data_startup.sample(50)

    R&D Spend  Administration  Marketing Spend       State     Profit
13   91992.39       135495.07        252664.93  California        NaN
49        NaN       116983.80         45173.06  California   14681.40
29   65605.48       153032.06        107138.38    New York  101004.64
22   73994.56       122782.75        303319.26     Florida  110352.25
7   130298.13             NaN        323876.68     Florida  155752.60
31        NaN       152701.92         88218.23    New York        NaN
18   91749.16       114175.79        294919.57     Florida  124266.90
2   153441.51       101145.55        407934.54     Florida  191050.39
10        NaN       110594.11        229160.95     Florida  146121.95
41   27892.92        84710.77        164470.71     Florida   77798.83
9   123334.88       108679.17        304981.62  California  149759.96
8   120542.52       148718.95        311613.29    New York  152211.77
39   38558.51        82982.09        174999.30  California   81005.76
38   20229.59        65947.93              NaN    New York   81229.06
12   93863.75       127320.38        249839.44     Florida  141585.52
33   55493.95       103057.49        214634.81     Florida   96778.92
5   131876.90        99814.71        362861.36    New York  156991.12
0   165349.20       136897.80        471784.10    New York  192261.83
24   77044.01             NaN        140574.81    New York  108552.04
3   144372.41       118671.85        383199.62    New York  182901.99
34   46426.07       157693.92        210797.67  California   96712.80
40   28754.33       118546.05        172795.67  California   78239.91
36   28663.76       127056.21        201126.82     Florida   90708.19
32   63408.86       129219.61         46085.25  California   97427.84
25   64664.71       139553.16        137962.62  California  107404.34
11  100671.96        91790.61        249744.55  California  144259.40
23        NaN       105751.03              NaN     Florida  108733.99
16   78013.11       121597.55        264346.06  California  126992.93
27   72107.60       127864.55        353183.81    New York  105008.31
46    1315.46       115816.21        297114.46     Florida   49490.75
17   94657.16       145077.58        282574.31    New York  125370.37
48     542.05        51743.15              NaN    New York   35673.41
20   76253.86       113867.30        298664.47  California  118474.03
44   22177.74       154806.14         28334.72  California   65200.33
15  114523.61       122616.84        261776.23    New York  129917.04
47        NaN       135426.92              NaN  California   42559.73
4   142107.34        91391.77        366168.42     Florida  166187.94
21   78389.47       153773.43        299737.29    New York  111313.02
37   44069.95             NaN        197029.42  California   89949.14
19   86419.70       153514.11              NaN    New York  122776.86
26   75328.87       144135.98        134050.07     Florida  105733.54
30   61994.48       115641.28         91131.24     Florida   99937.59
43   15505.73       127382.30         35534.17    New York   69758.98
6   134615.46       147198.87        127716.82  California  156122.51
1   162597.70       151377.59        443898.53  California  191792.06
45    1000.23       124153.04          1903.93    New York   64926.08
35   46014.02        85047.44        205517.64    New York   96479.51
14  119943.24       156547.42        256512.92     Florida  132602.65
42   23640.93        96189.63        148001.11  California   71498.49
28   66051.52       182645.56        118148.20     Florida  103282.38

In [69]:
print("\nAnalisis nilai kosong (NaN) pada setiap kolom:")
missing_data = data_startup.isna().sum()
print(missing_data)

Analisis nilai kosong (NaN) pada setiap kolom:
R&D Spend           5
Administration      3
Marketing Spend     5
State               0
Profit              2
Tax                10
dtype: int64

In [72]:
numeric_columns = data_startup.select_dtypes(include=['float64', 'int64']).columns
data_startup[numeric_columns] = data_startup[numeric_columns].fillna(data_startup[numeric_columns].mean())

print("\nKolom setelah mengisi nilai NaN dengan mean:")
missing_data_after_filling = data_startup.isna().sum()
print(missing_data_after_filling)

Kolom setelah mengisi nilai NaN dengan mean:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
Tax                0
dtype: int64

In [79]:
print("\nDataFrame setelah mengisi nilai NaN dengan mean:")
print(data_startup.head())

DataFrame setelah mengisi nilai NaN dengan mean:
   R&D Spend  Administration  Marketing Spend       State     Profit  \
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

          Tax
0  40047.1865
1  39353.4090
2  35006.5240
3  34238.6730
4  31187.4065

In [74]:
data_startup.sample(50)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
39,38558.510,82982.090000,174999.300000,California,81005.760000,16949.35750
44,22177.740,154806.140000,28334.720000,California,65200.330000,12417.05950
17,94657.160,145077.580000,282574.310000,New York,125370.370000,27651.11300
35,46014.020,85047.440000,205517.640000,New York,96479.510000,19352.22950
19,86419.700,153514.110000,223582.690222,New York,122776.860000,23316.28565
38,20229.590,65947.930000,223582.690222,New York,81229.060000,23316.28565
5,131876.900,99814.710000,362861.360000,New York,156991.120000,30983.35950
3,144372.410,118671.850000,383199.620000,New York,182901.990000,34238.67300
30,61994.480,115641.280000,91131.240000,Florida,99937.590000,15335.50550
22,73994.560,122782.750000,303319.260000,Florida,110352.250000,26822.71300
41,27892.920,84710.770000,164470.710000,Florida,77798.830000,16349.01550
29,65605.480,153032.060000,107138.380000,New York,101004.640000,18058.75400
33,55493.950,103057.490000,214634.810000,Florida,96778.920000,20723.56100
9,123334.880,108679.170000,304981.620000,California,149759.960000,28171.03750
26,75328.870,144135.980000,134050.070000,Florida,105733.540000,19195.97950
31,76788.862,152701.920000,88218.230000,New York,111850.855208,23316.28565
42,23640.930,96189.630000,148001.110000,California,71498.490000,15784.46150
20,76253.860,113867.300000,298664.470000,California,118474.030000,26550.29000
32,63408.860,129219.610000,46085.250000,California,97427.840000,13636.63500
37,44069.950,122790.158298,197029.420000,California,89949.140000,23316.28565
2,153441.510,101145.550000,407934.540000,Florida,191050.390000,35006.52400
43,15505.730,127382.300000,35534.170000,New York,69758.980000,11633.77250
24,77044.010,122790.158298,140574.810000,New York,108552.040000,23316.28565
47,76788.862,135426.920000,223582.690222,California,42559.730000,23316.28565
45,1000.230,124153.040000,1903.930000,New York,64926.080000,9549.15250
25,64664.710,139553.160000,137962.620000,California,107404.340000,19246.00600
14,119943.240,156547.420000,256512.920000,Florida,132602.650000,27283.14950
28,66051.520,182645.560000,118148.200000,Florida,103282.380000,20203.80700
46,1315.460,115816.210000,297114.460000,Florida,49490.750000,23121.07100
49,76788.862,116983.800000,45173.060000,California,14681.400000,8841.91300
13,91992.390,135495.070000,252664.930000,California,111850.855208,23316.28565
7,130298.130,122790.158298,323876.680000,Florida,155752.600000,23316.28565
8,120542.520,148718.950000,311613.290000,New York,152211.770000,30627.20050
15,114523.610,122616.840000,261776.230000,New York,129917.040000,25715.50550
6,134615.460,147198.870000,127716.820000,California,156122.510000,21551.91000
40,28754.330,118546.050000,172795.670000,California,78239.910000,18479.08150
10,76788.862,110594.110000,229160.950000,Florida,146121.950000,24293.85050
0,165349.200,136897.800000,471784.100000,New York,192261.830000,40047.18650
48,542.050,51743.150000,223582.690222,New York,35673.410000,23316.28565
23,76788.862,105751.030000,223582.690222,Florida,108733.990000,23316.28565
16,78013.110,121597.550000,264346.060000,California,126992.930000,25646.82700
1,162597.700,151377.590000,443898.530000,California,191792.060000,39353.40900
21,78389.470,153773.430000,299737.290000,New York,111313.020000,28241.18700
12,93863.750,127320.380000,249839.440000,Florida,141585.520000,25937.26700
11,100671.960,91790.610000,249744.550000,California,144259.400000,24289.72800
34,46426.070,157693.920000,210797.670000,California,96712.800000,23260.21950
4,142107.340,91391.770000,366168.420000,Florida,166187.940000,31187.40650
36,28663.760,127056.210000,201126.820000,Florida,90708.190000,20944.56100
27,72107.600,127864.550000,353183.810000,New York,105008.310000,29302.83350
18,91749.160,114175.790000,294919.570000,Florida,124266.900000,26668.11300

In [78]:
data_startup_encoded = pd.get_dummies(data_startup, columns=['State'])
print(data_startup_encoded.head())

   R&D Spend  Administration  Marketing Spend     Profit         Tax  \
0  165349.20       136897.80        471784.10  192261.83  40047.1865
1  162597.70       151377.59        443898.53  191792.06  39353.4090
2  153441.51       101145.55        407934.54  191050.39  35006.5240
3  144372.41       118671.85        383199.62  182901.99  34238.6730
4  142107.34        91391.77        366168.42  166187.94  31187.4065

   State_California  State_Florida  State_New York
0             False          False            True
1              True          False           False
2             False           True           False
3             False          False            True
4             False           True           False

In [80]:
# Menghitung nilai Tax
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

data_startup.to_csv('50_Startups_with_tax.csv', index=False)

# Menampilkan data sampel setelah menambahkan kolom Tax
data_startup.sample(50)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
9,123334.880,108679.170000,304981.620000,California,149759.960000,28171.037500
34,46426.070,157693.920000,210797.670000,California,96712.800000,23260.219500
3,144372.410,118671.850000,383199.620000,New York,182901.990000,34238.673000
14,119943.240,156547.420000,256512.920000,Florida,132602.650000,27283.149500
1,162597.700,151377.590000,443898.530000,California,191792.060000,39353.409000
28,66051.520,182645.560000,118148.200000,Florida,103282.380000,20203.807000
17,94657.160,145077.580000,282574.310000,New York,125370.370000,27651.113000
49,76788.862,116983.800000,45173.060000,California,14681.400000,8841.913000
41,27892.920,84710.770000,164470.710000,Florida,77798.830000,16349.015500
46,1315.460,115816.210000,297114.460000,Florida,49490.750000,23121.071000
31,76788.862,152701.920000,88218.230000,New York,111850.855208,17638.550260
37,44069.950,122790.158298,197029.420000,California,89949.140000,20488.435915
15,114523.610,122616.840000,261776.230000,New York,129917.040000,25715.505500
47,76788.862,135426.920000,223582.690222,California,42559.730000,20078.467011
12,93863.750,127320.380000,249839.440000,Florida,141585.520000,25937.267000
2,153441.510,101145.550000,407934.540000,Florida,191050.390000,35006.524000
39,38558.510,82982.090000,174999.300000,California,81005.760000,16949.357500
45,1000.230,124153.040000,1903.930000,New York,64926.080000,9549.152500
21,78389.470,153773.430000,299737.290000,New York,111313.020000,28241.187000
38,20229.590,65947.930000,223582.690222,New York,81229.060000,18537.984011
10,76788.862,110594.110000,229160.950000,Florida,146121.950000,24293.850500
18,91749.160,114175.790000,294919.570000,Florida,124266.900000,26668.113000
6,134615.460,147198.870000,127716.820000,California,156122.510000,21551.910000
36,28663.760,127056.210000,201126.820000,Florida,90708.190000,20944.561000
13,91992.390,135495.070000,252664.930000,California,111850.855208,25000.542760
30,61994.480,115641.280000,91131.240000,Florida,99937.590000,15335.505500
44,22177.740,154806.140000,28334.720000,California,65200.330000,12417.059500
16,78013.110,121597.550000,264346.060000,California,126992.930000,25646.827000
0,165349.200,136897.800000,471784.100000,New York,192261.830000,40047.186500
5,131876.900,99814.710000,362861.360000,New York,156991.120000,30983.359500
48,542.050,51743.150000,223582.690222,New York,35673.410000,15549.962511
22,73994.560,122782.750000,303319.260000,Florida,110352.250000,26822.713000
35,46014.020,85047.440000,205517.640000,New York,96479.510000,19352.229500
27,72107.600,127864.550000,353183.810000,New York,105008.310000,29302.833500
43,15505.730,127382.300000,35534.170000,New York,69758.980000,11633.772500
26,75328.870,144135.980000,134050.070000,Florida,105733.540000,19195.979500
25,64664.710,139553.160000,137962.620000,California,107404.340000,19246.006000
23,76788.862,105751.030000,223582.690222,Florida,108733.990000,21903.385511
7,130298.130,122790.158298,323876.680000,Florida,155752.600000,30120.971915
8,120542.520,148718.950000,311613.290000,New York,152211.770000,30627.200500
11,100671.960,91790.610000,249744.550000,California,144259.400000,24289.728000
4,142107.340,91391.770000,366168.420000,Florida,166187.940000,31187.406500
42,23640.930,96189.630000,148001.110000,California,71498.490000,15784.461500
32,63408.860,129219.610000,46085.250000,California,97427.840000,13636.635000
33,55493.950,103057.490000,214634.810000,Florida,96778.920000,20723.561000
24,77044.010,122790.158298,140574.810000,New York,108552.040000,18595.850415
29,65605.480,153032.060000,107138.380000,New York,101004.640000,18058.754000
40,28754.330,118546.050000,172795.670000,California,78239.910000,18479.081500
19,86419.700,153514.110000,223582.690222,New York,122776.860000,24993.683011
20,76253.860,113867.300000,298664.470000,California,118474.030000,26550.290000